@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Monoton';
  src: url(../fonts/Monoton-Regular.ttf);
}

body {
  background-color: black;
}

#headerText {
  padding-top: 335.7px;
}

#headerText h1 {
  font-family: 'Monoton';
  font-size: 55px;
}

#headerText h3 {
  font-size: 55px;
  padding-left: 56.8px;
}

#sectionOneLeft {
  height: 1000px;
  background-color: black;
  background-image: url(../img/Group\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#sectionOneRight {
  padding-top: 391px;
  padding-right: 178px;
  padding-left: 0px;
}

#sectionOneRight h1 {
  font-family: 'Raleway';
  font-size: 62.5px;
  font-weight: 200;
}

#sectionOneRight p {
  font-family: 'Raleway';
  font-size: 25px;
  text-align: right;
}

#sectionTwo {
  padding: 91px 0;
  height: 488px;
  width: 910px;
}

#sectionTwo p {
  font-family: 'Raleway';
  font-size: 18.75px;
}

#sectionTree {
  height: 375px;
  background-color: #D41AE3;
  padding-top: 75px;
  padding-left: 130px;
}

#sectionTree p {
  font-size: 16.60px;
  width: 270px;
}

#sectionTree h3 {
  font-size: 18.7px;
}

#sectionFour {
  height: 840px;
}

#cards {
  background-color: #D41AE3;
  width: 345px;
  height: 366px;
}

#sectionFive {
  width: 686px;
}

#sectionSix {
  height: 1460px;
}

#sectionSeven {
  background-color: #D41AE3;
  height: 225px;
  padding-top: 80px;
  padding-left: 150px;
}

#sectionSeven .col-4 {
  border-left: 10px white solid;
}

#sectionEight {
  width: 715px;
}

#sectionEight p {
  font-size: 18.75px;
}

#sectionNine {
  background-color: #D41AE3;
  padding: 50px;
}

#sectionNine p {
  width: 280px;
}

#sectionNine ul {
  list-style: none;
  padding-inline-start: 0px;
}